/*******************************************
 * 
 * Reset Styles
 *  
 ******************************************/
html, body, h1, h2, h3, h4, h5, h6, article, aside, details, del, ins, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div,
span, object, iframe, p, pre, a, abbr, acronym, address, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, caption, tbody, tfoot, thead, tr, img, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Lucida Calligraphy, Arial, Helvetica, sans-serif; }

table {
  border-collapse: collapse; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle;
  overflow: hidden;
  font-size: 10px; }

ul, ol {
  list-style: none; }

/*----------------------------------------------
 * Test Styles
 *----------------------------------------------*/
.test-class {
  width: 3000px; }

/*----------------------------------------------
 * General Styles
 *----------------------------------------------*/
.cntrd-inner {
  width: 980px;
  margin: 0 auto;
  overflow: auto; }

.clear {
  clear: both;
  float: none;
  line-height: 1px;
  border: 0 none;
  padding: 0;
  margin: 0; }

.nojs, .ltie9 {
  font-size: 1em;
  font-weight: bold;
  background: #FFFDB2;
  border: 1px solid #C1BC24;
  color: #635030;
  padding: 10px;
  text-align: center; }

.cellSpace {
  display: table-cell; }
  .cellSpace:before {
    content: "\00a0 \00a0"; }

.capitalize {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

@media print {
  table {
    page-break-after: auto; }

  tr {
    page-break-inside: avoid;
    page-break-after: auto; }

  td {
    page-break-inside: avoid;
    page-break-after: auto; }

  thead {
    display: table-header-group; }

  tfoot {
    display: table-footer-group; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */ }
/*----------------------------------------------
 * Buttons Styles
 *----------------------------------------------*/
[class*="btn-"] {
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 14px;
  line-height: 35px;
  padding: 0 10px;
  cursor: pointer; }

.btn-general {
  background: #EAEAEA;
  border-color: #ADADAD;
  color: #3F3F3F; }
  .btn-general:hover, .btn-general:active, .btn-general:focus {
    background: #D3D3D3;
    border-color: #878787; }

.btn-primary {
  background: #3c91ec;
  border-color: #115eb1;
  color: #fff; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #115eb1;
    border-color: #0d4582; }

.btn-alert {
  background: #EF9B9D;
  border-color: #C65F5F;
  color: #661516; }
  .btn-alert:hover, .btn-alert:active, .btn-alert:focus {
    background: #ED7B7D;
    border-color: #AA3A3A; }

body {
  color: #222;
  overflow-x: hidden; }

h1 {
  color: #115eb1;
  font-size: 20px;
  line-height: 55px;
  padding: 0 20px 0 80px; }

form h2 {
  color: #115eb1;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 10px; }
  form h2 .btns-wrapper {
    font-size: 13px;
    display: line-block;
    float: right; }
    form h2 .btns-wrapper .btn-primary {
      line-height: 25px;
      margin-left: 20px;
      font-weight: normal; }

html, body,
#root,
#appWrapper {
  height: 100%; }

#appWrapper {
  overflow: hidden;
  background: linear-gradient(180deg, transparent 53px, #ff6666 54px, transparent 54px, transparent 59px, #ff6666 59px, transparent 60px), linear-gradient(90deg, transparent 59px, #ff6666 60px, transparent 60px, transparent 65px, #ff6666 66px, transparent 66px), linear-gradient(180deg, #fff 0px, #fff 1px, #fff 60px, transparent 61px), repeating-linear-gradient(180deg, #6666ff 0px, transparent 1px, transparent 29px); }

#contentSection {
  margin: 4px 0 0 4px;
  height: calc(100% - 60px); }
  #contentSection form {
    height: 100%; }
    #contentSection form .fields-wrapper {
      height: calc(100% - 65px);
      overflow: auto; }
  #contentSection .inputs-row {
    height: 25px;
    padding: 2px 0 2px 51px; }
    #contentSection .inputs-row .btn-general {
      font-size: 10px;
      line-height: 13px;
      vertical-align: middle;
      width: 15px;
      padding: 0;
      margin-right: 15px;
      margin-left: -30px; }
  #contentSection h2, #contentSection input {
    box-sizing: border-box; }
  #contentSection h2, #contentSection form {
    padding: 0 15px; }
  #contentSection h2 {
    font-size: 14px;
    line-height: 29px;
    font-weight: normal;
    margin-left: 60px; }
  #contentSection input[type=text] {
    font-size: 13px;
    line-height: 22px;
    width: calc(50% - 40px);
    margin-right: 20px;
    outline: 0 none; }
    #contentSection input[type=text]:last-child {
      margin-right: 0;
      width: 40px; }
    #contentSection input[type=text]:focus, #contentSection input[type=text]:hover {
      border-bottom: 1px solid #6aabf1; }

#bottomBar {
  padding: 7px 0; }
  #bottomBar [class*="btn-"] {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    vertical-align: middle; }
  #bottomBar .btn-general {
    font-size: 24px;
    padding: 0 5px; }
  #bottomBar .btn-primary {
    float: right; }

/*# sourceMappingURL=hmbk.css.map */
