// ******************************************
// 
// SCSS Variables
//  
// ******************************************/

//====================================================
// COLORS
//====================================================
$COLOR_PRIMARY: #386470;
$COLOR_TEXT: #333;

//====================================================
// FONTS FAMILIES
//====================================================
$FONT: Arial, Helvetica, sans-serif;

//====================================================
// Dimensions
//====================================================


//====================================================
// Animations / Transitions
//====================================================
$ANIMATE_TIMER: .4s;